/* Estilos de Login */
.first {
  text-align: center;
}

/* Estilos de tipografía */

.text-shadow {
  text-shadow: black 0.1em 0.1em 0.2em;
}

/* Otros estilos */

.mar-bot-no {
  margin-bottom: 0;
}

.img-small {
  height: 50px;
  width: 50px;
}

.logo {
  width: 50px;
  height: 50px;
  margin-top: 15%;
  margin-right: 10px;
}

.second {
  margin-right: 2%;
}
